<section class="section about">
	<div class="container">
		<div class="skillbar js-skillbar" data-percent="100%">
			<div class="skillbar__title-block"><span class="skillbar__title">HTML5</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">100%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="100%">
			<div class="skillbar__title-block"><span class="skillbar__title">CSS3</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">100%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="77.9%">
			<div class="skillbar__title-block"><span class="skillbar__title">Javascript</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">77.9%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="88%">
			<div class="skillbar__title-block"><span class="skillbar__title">Git</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">88%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="75%">
			<div class="skillbar__title-block"><span class="skillbar__title">SASS/SCSS</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">75%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="74.5%">
			<div class="skillbar__title-block"><span class="skillbar__title">jQuery</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">74.5%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="70%">
			<div class="skillbar__title-block"><span class="skillbar__title">Bootstrap</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">70%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="78%">
			<div class="skillbar__title-block"><span class="skillbar__title">BEM</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">78%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="68%">
			<div class="skillbar__title-block"><span class="skillbar__title">Gulp</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">68%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="54%">
			<div class="skillbar__title-block"><span class="skillbar__title">Webpack</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">54%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="49%">
			<div class="skillbar__title-block"><span class="skillbar__title">PHP</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">49%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="32%">
			<div class="skillbar__title-block"><span class="skillbar__title">SEO</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">32%</div>
		</div>
	</div>
</section>

