<section class="section about">
	<canvas id="canvas"></canvas>
	<div class="container">
		<h1 class="about__title">Something About Me</h1>
		<blockquote class="about__text">
			Self-motivated and passionate about FrontEnd technologies person looking for new opportunities in Web development.
			Have demonstrable experience of web development and responsive design using HTML5, CSS3, Sass, Javascript, jQuery and
			related client side technologies. Also have basic programming skills in PHP, familiar with SQL and writing queries to
			databases. Proficient in using front end build tools, such as Webpack and Gulp. Due to my education I’ve got strong
			technical background, and due to my freelance experience have general understanding of SEO optimization. I am
			sociable and like working in a team, able to dig in and troubleshoot various types of issues. Eager to improve my
			knowledge and skills.
		</blockquote>
	</div>
	<div class=" container about__info">
		<div class="about__slills">
		<h2 class="about__subtitle">My skills</h2>
		<div class="skillbar js-skillbar" data-percent="100%">
			<div class="skillbar__title-block"><span class="skillbar__title">HTML5</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">100%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="100%">
			<div class="skillbar__title-block"><span class="skillbar__title">CSS3</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">100%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="77.9%">
			<div class="skillbar__title-block"><span class="skillbar__title">Javascript</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">77.9%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="88%">
			<div class="skillbar__title-block"><span class="skillbar__title">Git</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">88%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="75%">
			<div class="skillbar__title-block"><span class="skillbar__title">SASS/SCSS</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">75%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="74.5%">
			<div class="skillbar__title-block"><span class="skillbar__title">jQuery</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">74.5%</div>
		</div>

		<div class="skillbar js-skillbar" data-percent="70%">
			<div class="skillbar__title-block"><span class="skillbar__title">Bootstrap</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">70%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="78%">
			<div class="skillbar__title-block"><span class="skillbar__title">BEM</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">78%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="68%">
			<div class="skillbar__title-block"><span class="skillbar__title">Gulp</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">68%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="54%">
			<div class="skillbar__title-block"><span class="skillbar__title">Webpack</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">54%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="49%">
			<div class="skillbar__title-block"><span class="skillbar__title">PHP</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">49%</div>
		</div>
		<div class="skillbar js-skillbar" data-percent="32%">
			<div class="skillbar__title-block"><span class="skillbar__title">SEO</span></div>
			<div class="skillbar__bar js-skillbar__bar"></div>
			<div class="skillbar__percent">32%</div>
		</div>
		</div>
		<div class="about__photo">
			<img class="about__glass" src="img/glass1.png" alt="Glass">
			<img class="about__img" src="img/myPhoto.jpg" alt="My-photo">
		</div>

	</div>
</section>

